<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta description="Penta Medical | Smart fabrics that deliver infrared therapy to heal you faster">
  <meta author="Qile Wang">
  <link rel="icon" href="img/favicon.png">
  <title>Penta Medical</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="../img/Logo.png" class="img-responsive vertically-centered" alt="Brand">
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="../index.html">Home</a></li>
          <li class="active"><a href="#intro">About</a></li>
          <li><a href="products.html">Products</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <section class="container-fluid objective about-objective" id="objective">
    <div class="row objective-content about-objective-content">
      <div class="col-xs-12 col-sm-0 col-md-6 col-lg-6">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-12">
          <h5 class="objective-main about-objective-main"><span class="intro-span">About<br class="mobile-only-break"> the company</span><br><span class="about-span">that's innovating<br>light therapy</span></h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-0 col-md-5 col-lg-5">
        <p class="objective-secondary about-objective-secondary">Penta Medical is developing fabrics that deliver infrared therapy to your injuries to heal you faster.<br><br>By combining our unique infrared-reflective nanoparticles with active light sources, our products save you the time, money, and pain of having to go to a clinic to receive therapy. The products are designed for use by humans and animals, and rely on safe, proven technology to ensure that you recover as quickly as possible. </p>
      </div>
    </div>
    <div class="intro-arrow">
      <a href="#objective"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="color: rgba(255,255,255, 0.7); font-size: 5vh"></span></a>
    </div>
  </section>

  <section class="container-fluid filler-cloth filler-cells" id="filler-cloth" style="background-image: url('../img/About/Cells.png');">
  </section>

  <section class="container-fluid objective about-description" id="objective">
    <div class="objective-content">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <h5>Infrared therapy is one of the <span>most effective</span> treatments for musculoskeletal injuries.</h5>
        </div>
      </div>
      <br>
      <div class="row statistics">
        <div class="col-xs-5 number text-right">
            <h2 class="">30%</h2>
        </div>
        <div class="col-xs-7 number-description text-left">
          <h4 class="">Decrease in<br>healing time</h4>
        </div>
      </div>
      <div class="row statistics">
        <div class="col-xs-5 number text-right">
          <h2 class="">8%</h2>
        </div>
        <div class="col-xs-7 number-description text-left">
          <h4 class="">Increase in<br>oxygen levels</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="container applications" id="applications">
    <h2 class="text-center applications-header">How it Works</h2>
    <div class="row text-center">
      <div class="col-xs-12 col-md-offset-1 col-md-3 applications-content">
        <img src="../img/Home/Oxygen.png" class="applications-image">
        <h2 class="applications-text">Increased Blood Oxygen Levels</h2>
        <hr class="featurette-divider">
        <p class="applications-description">Content</p>
      </div>
      <div class="col-xs-12 col-md-4 applications-content">
        <img src="../img/Home/Osteoporosis.png" class="applications-image">
        <h2 class="applications-text">Osteoporosis<br>Treatment</h2>
        <hr class="featurette-divider">
        <p class="applications-description">Content</p>
      </div>
      <div class="col-xs-12 col-md-3 applications-content">
        <img src="../img/Home/Arthritis.png" class="applications-image">
        <h2 class="applications-text">Rheumatoid Arthritis Treatment</h2>
        <hr class="featurette-divider">
        <p class="applications-description">Content</p>
      </div>
    </div><!-- /.row -->
  </section>

  <hr>

  <section class="container-fluid objective about-team-intro" id="objective">
    <div class="row objective-content about-team-content">
      <div class="col-md-6 col-lg-6">
        <div class="col-sm-offset-0 col-sm-12">
          <h5 class="objective-main about-team-main">The team<br><span class="about-team">behind the tech</span></h5>
        </div>
      </div>
      <div class="col-xs-0 col-sm-6 col-md-5 col-lg-5 hidden-xs hidden-sm">
        <p class="objective-secondary">The Penta Medical team is made up of a passionate group of student entrepreneurs from the University of Waterloo, McMaster University, and Conestoga College.<br><br>We have the perfect balance of technical skills and cohesive company culture to take on the challenge at hand.</p>
      </div>
    </div>
  </section>

  <section class="container-fluid team" id="team">
    <div class="row">
      <div class="col-xs-5">
        <img src="../img/About/Alexa.png" class="img-responsive portrait-image">
      </div>
      <div class="col-xs-7 col-md-6 vertically-centered-even-better">
        <div class="portrait-description">
          <h2>Alexa Roeper</h2>
          <h3>CEO &amp; Founder</h3>
          <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <img src="../img/About/AmitScaled.png" class="img-responsive portrait-image">
      </div>
      <div class="col-xs-7 col-md-6 vertically-centered-even-better">
        <div class="portrait-description">
          <h2>Amit Mehta</h2>
          <h3>Engineering Lead</h3>
          <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <img src="../img/About/AmitScaled.png" class="img-responsive portrait-image">
      </div>
      <div class="col-xs-7 col-md-6 vertically-centered-even-better">
        <div class="portrait-description">
          <h2>Rachel Paulter</h2>
          <h3>Business Lead</h3>
          <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid writing" id="writing">
  </section>

  <section class="container contact text-center" id="contact">
    <div class="contact-content">
      <h2>Contact</h2>
      <hr class="mobile-only contact-separator">
      <h3>151 Charles Street West<br>Kitchener, Ontario, N2G 1H6</h3>
      <div class="row social-icons">
        <div class="col-xs-3 col-xs-offset-2">
          <a href=""><i class="fa fa-envelope" style="color: rgb(37, 87, 143);"></i></a>
        </div>
        <div class="col-xs-2">
          <a href=""><i class="fa fa-twitter" style="color: #55acee;"></i></a>
        </div>
        <div class="col-xs-3">
          <a href=""><i class="fa fa-facebook" style="color: #3B5998;"></i></a>
        </div>
      </div>
      <h4>Sign up for our mailing list!</h4>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </section>

  <footer class="container-fluid footer" id="footer">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
        <img src="../img/LogoName.png" class="pull-left img-responsive">
      </div>
      <div class="col-xs-8 text-right pull-right">
        <p><a href="http://aroundthelines.com" style="text-decoration: none!important">Site by Qile Wang</a></p>
      </div>
    </div>
  </footer>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $('a[href*=#contact]').click(function () {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
  </script>
</body>
</html>