<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta description="Penta Medical | Smart fabrics that deliver infrared therapy to heal you faster">
  <meta author="Qile Wang">
  <link rel="icon" href="img/favicon.png">
  <title>Penta Medical</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="../img/Logo.png" class="img-responsive vertically-centered" alt="Brand">
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="../index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="active"><a href="#intro">Products</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <section class="container-fluid objective about-objective product-objective" id="objective">
    <div class="row objective-content about-objective-content">
      <div class="col-xs-12 col-sm-0 col-md-5 col-lg-5">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-12">
          <h5 class="objective-main about-objective-main"><span class="intro-span products-span">Products</h5>
        </div>
      </div>
      <div class="col-xs-12 col-sm-0 col-md-6 col-lg-6">
        <p class="objective-secondary about-objective-secondary products-objective-secondary">Our versatile products are tailored for human and equine applications. To use them, simply wrap the fabric around the injured area, specify your injury type, and go about your day.</p>
      </div>
    </div>
  </section>

  <section class="quote container-fluid" id="quote">
    <div class="row" style="background-color: rgb(227,223,220);">
      <div class="quote-bg col-xs-12 col-sm-12 col-md-5 col-lg-5" style="background-image: url('../img/Products/People.png'); background-size: cover;">
        <div class="quote-content-xs vertically-centered-container text-center">
          <div class="vertically-centered" style="width: 100%; margin: 0 auto;">
            <p>Human Applications</p>
          </div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-0 col-md-6 col-lg-7 quote-content-lg">
        <div class="vertically-centered-container">
          <div class="portrait-description">
            <h2>Human Applications</h2>
            <h3>Athletics | Osteoporosis | Rheumatoid Arthritis</h3>
            <p class="hidden-xs" style="color: black;">Penta Medical products are designed to be applied externally to any injury on the body while being comfortable, safe, and effective for the patient.<br><br>By delivering infrared therapy from a wearable format, our products eliminate the need for you to travel to a clinic to receive treatment. Our wraps are safe to use at home, at work, and everywhere in-between.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 xol-sm-12 col-md-0 quote-mobile-only" style="background-color: rgb(255,255,255);">
        <h2>Human Applications</h2>
        <p style="color: black;">Penta Medical products are designed to be applied externally to any injury on the body while being comfortable, safe, and effective for the patient.<br><br>By delivering infrared therapy from a wearable format, our products eliminate the need for you to travel to a clinic to receive treatment. Our wraps are safe to use at home, at work, and everywhere in-between.</p>
      </div>
    </div>
  </section>

  <section class="quote container-fluid" id="quote">
    <div class="row">
      <div class="col-xs-0 col-sm-0 col-md-5 col-lg-5 quote-content-lg">
        <div class="vertically-centered-container">
          <div class="portrait-description">
            <h2>Athletic Applications</h2>
            <p class="hidden-xs" style="color: black;">Our wraps can be used to warm muscles for athletes before they get on the field to get to work. They can also be used to increase blood oxygen levels and speed muscle recovery off the field.</p>
          </div>
        </div>
      </div>
      <div class="quote-bg col-xs-12 col-sm-12 col-md-7 col-lg-7" style="background-image: url('../img/Products/Football.png');">
        <div class="quote-content-xs vertically-centered-container text-center">
          <div class="vertically-centered" style="width: 100%; margin: 0 auto;">
            <p>Athletic Applications</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 xol-sm-12 col-md-0 quote-mobile-only" style="background-color: rgb(255,255,255);">
        <h2>Athletic Applications</h2>
        <p style="color: black;">Our wraps can be used to warm muscles for athletes before they get on the field to get to work. They can also be used to increase blood oxygen levels and speed muscle recovery off the field.</p>
      </div>
    </div>
  </section>

  <section class="quote container-fluid" id="quote">
    <div class="row" style="background-color: rgb(227,223,220);">
      <div class="quote-bg col-xs-12 col-sm-12 col-md-5 col-lg-5" style="background-image: url('../img/Products/Bench1.png');">
        <div class="quote-content-xs vertically-centered-container text-center">
          <div class="vertically-centered" style="width: 100%; margin: 0 auto;">
            <p>Osteoporosis &amp; Rheumatoid Arthritis Treatment</p>
          </div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6 quote-content-lg">
        <div class="vertically-centered-container">
          <div class="portrait-description">
            <h2>Osteoporosis Treatment</h2>
            <p style="color: black;">Our wraps can be used to warm muscles for athletes before they get on the field to get to work. They can also be used to increase blood oxygen levels and speed muscle recovery off the field.</p>
            <h2>Rheumatoid Arthritis Treatment</h2>
            <p style="color: black;">Our wraps can be used to warm muscles for athletes before they get on the field to get to work. They can also be used to increase blood oxygen levels and speed muscle recovery off the field.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 xol-sm-12 col-md-0 quote-mobile-only" style="background-color: rgb(255,255,255);">
        <h2>Osteoporosis Treatment</h2>
        <p class="" style="color: black;">Our wraps can be used to warm muscles for athletes before they get on the field to get to work. They can also be used to increase blood oxygen levels and speed muscle recovery off the field.</p>
        <h2>Rheumatoid Arthritis Treatment</h2>
        <p class="" style="color: black;">Our wraps can be used to warm muscles for athletes before they get on the field to get to work. They can also be used to increase blood oxygen levels and speed muscle recovery off the field.</p>
      </div>
    </div>
  </section>
  
  <section class="quote container-fluid" id="quote">
    <div class="row">
      <div class="col-xs-0 col-sm-0 col-md-5 col-lg-5 quote-content-lg">
        <div class="vertically-centered-container">
          <div class="portrait-description">
            <h2>Equine Applications</h2>
            <p class="hidden-xs" style="color: black;">Our wraps can be used to warm muscles for athletes before they get on the field to get to work. They can also be used to increase blood oxygen levels and speed muscle recovery off the field.</p>
          </div>
        </div>
      </div>
      <div class="quote-bg col-xs-12 col-sm-12 col-md-7 col-lg-7" style="background-image: url('../img/Products/Horse.png');">
        <div class="quote-content-xs vertically-centered-container text-center">
          <div class="vertically-centered" style="width: 100%; margin: 0 auto;">
            <p>Equine Applications</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 xol-sm-12 col-md-0 quote-mobile-only" style="background-color: rgb(255,255,255);">
          <h2>Equine Applications</h2>
          <p style="color: black;">Our wraps can be used to warm muscles for athletes before they get on the field to get to work. They can also be used to increase blood oxygen levels and speed muscle recovery off the field.</p>
        </div>
    </div>
  </section>

  <section class="container-fluid inquiries" id="inquiries">
    <form class="row">
      <div class="col-xs-12 col-md-3 col-md-offset-2">
        <h2 class="inquiries-heading">Inquiries</h2>
      </div>
      <div class="col-xs-12 col-md-5">
        <h3 class="inquiries-subheading">Our products are coming soon. Send us a message for more information from the penta medical team.</h3>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-2 inquiries-form">
        <div class="form-group text-left">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
        </div>
        <div class="form-group text-left">
          <label for="exampleInputPassword1">Email</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email">
        </div>
        <div class="form-group text-left">
          <label>Message</label>
          <textarea class="form-control" rows="3" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </section>

  <section class="container-fluid writing" id="writing">
  </section>

  <section class="container contact text-center" id="contact">
    <div class="contact-content">
      <h2>Contact</h2>
      <hr class="mobile-only contact-separator">
      <h3>151 Charles Street West<br>Kitchener, Ontario, N2G 1H6</h3>
      <div class="row social-icons">
        <div class="col-xs-3 col-xs-offset-2">
          <a href=""><i class="fa fa-envelope" style="color: rgb(37, 87, 143);"></i></a>
        </div>
        <div class="col-xs-2">
          <a href=""><i class="fa fa-twitter" style="color: #55acee;"></i></a>
        </div>
        <div class="col-xs-3">
          <a href=""><i class="fa fa-facebook" style="color: #3B5998;"></i></a>
        </div>
      </div>
      <h4>Sign up for our mailing list!</h4>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
  </section>

  <footer class="container-fluid footer" id="footer">
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
        <img src="../img/LogoName.png" class="pull-left img-responsive">
      </div>
      <div class="col-xs-8 text-right pull-right">
        <p><a href="http://aroundthelines.com" style="text-decoration: none!important">Site by Qile Wang</a></p>
      </div>
    </div>
  </footer>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </script>
  <script type="text/javascript">
    $('a[href*=#contact]').click(function () {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
  </script>
</body>
</html>